#Changing Directory

In [0]:
import os

In [0]:
os.getcwd()

'/content'

In [0]:
os.chdir('/content/drive/My Drive/Colab Notebooks/Twitter Sentiment Analysis')

#Importing data from kaggle

In [0]:
!pip install -q kaggle

In [0]:
!pip install -q kaggle-cli

     |████████████████████████████████| 81kB 2.7MB/s
     |████████████████████████████████| 5.3MB 7.1MB/s
     |████████████████████████████████| 112kB 54.8MB/s
     |████████████████████████████████| 51kB 6.7MB/s
     |████████████████████████████████| 112kB 30.1MB/s
  Building wheel for kaggle-cli (setup.py) ... done
  Building wheel for pyperclip (setup.py) ... done

In [0]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json
!ls ~/.kaggle

kaggle.json

In [0]:
#Downloading data from competition to Google Drive
!kaggle competitions list -s Twitter

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
ref                             deadline             category    reward  teamCount  userHasEntered
------------------------------  -------------------  ----------  ------  ---------  --------------
twitter-psychopathy-prediction  2012-06-29 23:59:59  Research    $1,000        111           False
twitter-personality-prediction  2012-06-29 23:59:59  Research      $500         89           False
crowdflower-weather-twitter     2013-12-01 23:59:00  Playground    $500        259           False

In [0]:
!kaggle competitions download -c twitter-sentiment-analysis2

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
test.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
train.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [0]:
!unzip train.csv.zip

Archive:  train.csv.zip
replace train.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#importing data

In [0]:
df=pd.read_csv('train.csv',encoding='latin-1',header=None)

In [0]:
df.head()

        0          1                                                  2
0  ItemID  Sentiment                                      SentimentText
1       1          0                       is so sad for my APL frie...
2       2          0                     I missed the New Moon trail...
3       3          1                            omg its already 7:30 :O
4       4          0            .. Omgaga. Im sooo  im gunna CRy. I'...

#Adding Some data

In [0]:
df[2][0]='I am not feeling good here.'

In [0]:
df[1][0]='0'
df[0][0]=0

In [0]:
df.head()

   0  1                                                  2
0  0  0                        I am not feeling good here.
1  1  0                       is so sad for my APL frie...
2  2  0                     I missed the New Moon trail...
3  3  1                            omg its already 7:30 :O
4  4  0            .. Omgaga. Im sooo  im gunna CRy. I'...

In [0]:
df1=df.copy()

In [0]:
df.columns=['Id','Sentiment','Tweet_text']

In [0]:
df.head()

  Id Sentiment                                         Tweet_text
0  0         0                        I am not feeling good here.
1  1         0                       is so sad for my APL frie...
2  2         0                     I missed the New Moon trail...
3  3         1                            omg its already 7:30 :O
4  4         0            .. Omgaga. Im sooo  im gunna CRy. I'...

In [0]:
df['Sentiment']=df['Sentiment'].apply(int)

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99990 entries, 0 to 99989
Data columns (total 3 columns):
Id            99990 non-null object
Sentiment     99990 non-null int64
Tweet_text    99990 non-null object
dtypes: int64(1), object(2)
memory usage: 2.3+ MB

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99990 entries, 0 to 99989
Data columns (total 3 columns):
Id            99990 non-null object
Sentiment     99990 non-null int64
Tweet_text    99990 non-null object
dtypes: int64(1), object(2)
memory usage: 2.3+ MB

In [0]:
df.head()

  Id  Sentiment                                         Tweet_text
0  0          0                        I am not feeling good here.
1  1          0                       is so sad for my APL frie...
2  2          0                     I missed the New Moon trail...
3  3          1                            omg its already 7:30 :O
4  4          0            .. Omgaga. Im sooo  im gunna CRy. I'...

In [0]:
import re
import nltk
from nltk.corpus import stopwords
from sklearn.datasets import load_files
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

#Text Cleaning

In [0]:
def clean_text(data,col):
  corpus=[]
  for i in range(len(data[col])):
    text=re.sub(r'http\S+', ' ', data[col][i])
    text=text.lower()
    text=re.sub(r"that's","that is",text)
    text = re.sub(r"there's","there is",text)
    text = re.sub(r"what's","what is",text)
    text = re.sub(r"where's","where is",text)
    text = re.sub(r"it's","it is",text)
    text = re.sub(r"who's","who is",text)
    text = re.sub(r"i'm","i am",text)
    text = re.sub(r"she's","she is",text)
    text = re.sub(r"he's","he is",text)
    text = re.sub(r"they're","they are",text)
    text = re.sub(r"who're","who are",text)
    text = re.sub(r"ain't","am not",text)
    text = re.sub(r"wouldn't","would not",text)
    text = re.sub(r"shouldn't","should not",text)
    text = re.sub(r"can't","can not",text)
    text = re.sub(r"couldn't","could not",text)
    text = re.sub(r"won't","will not",text)
    text=re.sub(r'[@#\$%&\*\(\)\<\>\?\!\;\'\\-\_"]',' ',text)
    text= re.sub(r'\W',' ',text)
    text=re.sub(r'\d',' ',text)
    text=re.sub(r'^[a-z]\s',' ',text)
    text=re.sub(r'\s+[a-z]\s+',' ',text)
    text=re.sub(r'\s+[a-z]$',' ',text)
    text=re.sub(r'\s+',' ',text)
    corpus.append(text)
  return corpus

In [0]:
def remove_stopword(data,col):
  corpus=[]
  s=set(stopwords.words('english'))
  s1=['not','or','and','no','nor']
  for i in s1:
    if i in s:
      s.remove(i)
  for i in range(len(data[col])):
    words = nltk.word_tokenize(data[col][i])
    word1 = [word for word in words if word not in s]
    corpus.append(' '.join(word1))
  return corpus

In [0]:
df['Tweet_text']=clean_text(df,'Tweet_text')

In [0]:
df.head()

  Id  Sentiment                                         Tweet_text
0  0          0                          am not feeling good here
1  1          0                       is so sad for my apl friend
2  2          0                       missed the new moon trailer
3  3          1                                   omg its already
4  4          0   omgaga im sooo im gunna cry ve been at this d...

In [0]:
df['Tweet_text']=remove_stopword(df,'Tweet_text')

In [0]:
df['Tweet_text']

0                                         not feeling good
1                                           sad apl friend
2                                  missed new moon trailer
3                                              omg already
4        omgaga im sooo im gunna cry dentist since supo...
                               ...
99985    cupcake seems like repeating problem hope able...
99986    cupcake arrrr replied different tweets time se...
99987                                   cupcake ya thought
99988                      cupcake dollie yes yes glad fun
99989                               cupcake kayla haha yes
Name: Tweet_text, Length: 99990, dtype: object

In [0]:
df.head()

  Id  Sentiment                                         Tweet_text
0  0          0                                   not feeling good
1  1          0                                     sad apl friend
2  2          0                            missed new moon trailer
3  3          1                                        omg already
4  4          0  omgaga im sooo im gunna cry dentist since supo...

In [0]:
len(df['Tweet_text'])

99990

In [0]:
sentences = [nltk.word_tokenize(sentence) for sentence in df['Tweet_text']]

In [0]:
l=0
for i in range(len(sentences)):
  l+=len(sentences[i])

In [0]:
l

800630

#Word2Vec

In [0]:
from gensim.models import Word2Vec

In [0]:
Wmodel = Word2Vec(sentences,size=200,window=5,workers=4,min_count=1)

In [0]:
Wmodel.build_vocab(sentences,update=True)

In [0]:
words=Wmodel.wv.vocab.keys()

In [0]:
vocab_size=len(words)
print(len(words))

94955

In [0]:
Wmodel.train(sentences=sentences, total_examples=len(sentences), epochs=25)

(18579146, 20015750)

In [0]:
len(Wmodel.wv.vocab)

94955

In [0]:
Wmodel.wv.most_similar("fine")

/usr/local/lib/python3.6/dist-packages/gensim/matutils.py:737: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated. In future, it will be treated as `np.int64 == np.dtype(int).type`.
  if np.issubdtype(vec.dtype, np.int):

[('ok', 0.46680212020874023),
 ('twilightfan', 0.42872413992881775),
 ('okay', 0.423551082611084),
 ('anacom', 0.4180387556552887),
 ('anniebeee', 0.4032926559448242),
 ('chaotixfusion', 0.4028693735599518),
 ('roro', 0.39918723702430725),
 ('anjosinthedark', 0.39913055300712585),
 ('pity', 0.3961191773414612),
 ('camredefined', 0.3942290246486664)]

In [0]:
Wmodel.wv.most_similar('feeling')

/usr/local/lib/python3.6/dist-packages/gensim/matutils.py:737: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated. In future, it will be treated as `np.int64 == np.dtype(int).type`.
  if np.issubdtype(vec.dtype, np.int):

[('feelin', 0.6797928810119629),
 ('feels', 0.5880059003829956),
 ('feel', 0.5514590740203857),
 ('beitches', 0.5387300252914429),
 ('christianetrue', 0.5373941659927368),
 ('bobonickalonick', 0.5313042402267456),
 ('christinaciulla', 0.5265713334083557),
 ('amberalert', 0.526106059551239),
 ('cspaz', 0.5212687849998474),
 ('branwen', 0.5206105709075928)]

In [0]:
Wmodel.wv.most_similar("great")

/usr/local/lib/python3.6/dist-packages/gensim/matutils.py:737: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated. In future, it will be treated as `np.int64 == np.dtype(int).type`.
  if np.issubdtype(vec.dtype, np.int):

[('wonderful', 0.5832909345626831),
 ('lovely', 0.5256438255310059),
 ('fantastic', 0.5235490202903748),
 ('gr', 0.5088335275650024),
 ('awesome', 0.5037024021148682),
 ('fab', 0.4991551339626312),
 ('fabulous', 0.47738611698150635),
 ('amazing', 0.46559104323387146),
 ('beautiful', 0.4457351565361023),
 ('perfect', 0.44022321701049805)]

In [0]:
X=df['Tweet_text']
y=df['Sentiment']

In [0]:
len(X)

99990

In [0]:
len(y)

99990

#Train test spilit

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [0]:
from keras_preprocessing.text import Tokenizer

In [0]:
tokenizer = Tokenizer()

In [0]:
X_train_token=tokenizer.texts_to_sequences(X_train)
X_test_token=tokenizer.texts_to_sequences(X_test)

In [0]:
from keras.preprocessing import sequence
from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation,Flatten
from keras.layers import Embedding
from keras.layers import LSTM
from keras.layers import Conv1D, MaxPooling1D

Using TensorFlow backend.

In [0]:
max_len=300
X_train_pad = sequence.pad_sequences(X_train_token, maxlen=max_len)

In [0]:
X_train_pad.shape

(79992, 300)

In [0]:
X_test_pad = sequence.pad_sequences(X_test_token, maxlen=max_len)

In [0]:
print('x_train shape:', X_train.shape)
print('x_test shape:', X_test.shape)

x_train shape: (79992,)
x_test shape: (19998,)

In [0]:
X_train_pad[0].shape

(300,)

In [0]:
model = Sequential()

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:66: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [0]:
model.add(Embedding(vocab_size, 300, input_length=max_len,trainable=False))

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:541: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4432: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

In [0]:
model.add(Dropout(0.45))
model.add(Conv1D(64,5,padding='valid',activation='relu',strides=1))

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:148: The name tf.placeholder_with_default is deprecated. Please use tf.compat.v1.placeholder_with_default instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3733: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.

In [0]:
model.add(MaxPooling1D(pool_size=4))

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4267: The name tf.nn.max_pool is deprecated. Please use tf.nn.max_pool2d instead.

In [0]:
model.add(Flatten())

In [0]:
model.add(Dense(1,activation='sigmoid'))

In [0]:
model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/optimizers.py:793: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3657: The name tf.log is deprecated. Please use tf.math.log instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/ops/nn_impl.py:183: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [0]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_1 (Embedding)      (None, 300, 300)          28486500
_________________________________________________________________
dropout_1 (Dropout)          (None, 300, 300)          0
_________________________________________________________________
conv1d_1 (Conv1D)            (None, 296, 64)           96064
_________________________________________________________________
max_pooling1d_1 (MaxPooling1 (None, 74, 64)            0
_________________________________________________________________
flatten_1 (Flatten)          (None, 4736)              0
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 4737
=================================================================
Total params: 28,587,301
Trainable params: 100,801
Non-trainable params: 28,486,500
_________________________________________________________________

In [0]:
model.fit(X_train_pad, y_train,batch_size=1024,epochs=10,validation_split=0.1,verbose=1)

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1033: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1020: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3005: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

Train on 71992 samples, validate on 8000 samples
Epoch 1/10
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:190: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:197: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:207: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:216: The name tf.is_variable_initialized is deprecated. Please use tf.compat.v1.is_variable_initialized instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:223: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

71992/71992 [==============================] - 296s 4ms/step - loss: 0.6855 - acc: 0.5648 - val_loss: 0.6862 - val_acc: 0.5640
Epoch 2/10
71992/71992 [==============================] - 299s 4ms/step - loss: 0.6848 - acc: 0.5655 - val_loss: 0.6856 - val_acc: 0.5640
Epoch 3/10
71992/71992 [==============================] - 295s 4ms/step - loss: 0.6847 - acc: 0.5655 - val_loss: 0.6851 - val_acc: 0.5640
Epoch 4/10
71992/71992 [==============================] - 294s 4ms/step - loss: 0.6852 - acc: 0.5655 - val_loss: 0.6858 - val_acc: 0.5640
Epoch 5/10
71992/71992 [==============================] - 294s 4ms/step - loss: 0.6850 - acc: 0.5655 - val_loss: 0.6851 - val_acc: 0.5640
Epoch 6/10
71992/71992 [==============================] - 294s 4ms/step - loss: 0.6848 - acc: 0.5655 - val_loss: 0.6854 - val_acc: 0.5640
Epoch 7/10
71992/71992 [==============================] - 294s 4ms/step - loss: 0.6848 - acc: 0.5655 - val_loss: 0.6852 - val_acc: 0.5640
Epoch 8/10
71992/71992 [==============================] - 296s 4ms/step - loss: 0.6848 - acc: 0.5655 - val_loss: 0.6850 - val_acc: 0.5640
Epoch 9/10
71992/71992 [==============================] - 294s 4ms/step - loss: 0.6847 - acc: 0.5655 - val_loss: 0.6854 - val_acc: 0.5640
Epoch 10/10
71992/71992 [==============================] - 295s 4ms/step - loss: 0.6849 - acc: 0.5655 - val_loss: 0.6870 - val_acc: 0.5640

In [0]:
y_pred=model.predict(X_test_pad)

In [0]:
def prediction(prob):
  if prob>0.5:
    return 1
  else:
    return 0

In [0]:
y_pred[0:6]

array([[0.57181424],
       [0.57181424],
       [0.57181424],
       [0.57181424],
       [0.57181424],
       [0.57181424]], dtype=float32)

In [0]:
ylist=[]
for i in range(len(y_pred)):
  ylist.append(prediction(y_pred[i]))

In [0]:
ylist[0:6]

[1, 1, 1, 1, 1, 1]

In [0]:
from sklearn.metrics import classification_report,accuracy_score

In [0]:
accuracy_score(y_test,ylist)

0.5618561856185619

#Saving model

In [0]:
import pickle,json

In [0]:
model_json = model.to_json()
with open("model_cnn.json", "w") as json_file:
    json_file.write(model_json)