#Chaning Directory

In [0]:
import os

In [0]:
os.getcwd()

'/content'

In [0]:
os.chdir('/content/drive/My Drive/Colab Notebooks/Twitter Sentiment Analysis')

#import data from kaggle on Google Colab by using Kaggle API

In [0]:
!pip install -q kaggle

In [0]:
!pip install -q kaggle-cli

     |████████████████████████████████| 81kB 2.7MB/s
     |████████████████████████████████| 5.3MB 7.1MB/s
     |████████████████████████████████| 112kB 54.8MB/s
     |████████████████████████████████| 51kB 6.7MB/s
     |████████████████████████████████| 112kB 30.1MB/s
  Building wheel for kaggle-cli (setup.py) ... done
  Building wheel for pyperclip (setup.py) ... done

In [0]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json
!ls ~/.kaggle

kaggle.json

In [0]:
!kaggle competitions list -s Twitter

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
ref                             deadline             category    reward  teamCount  userHasEntered
------------------------------  -------------------  ----------  ------  ---------  --------------
twitter-psychopathy-prediction  2012-06-29 23:59:59  Research    $1,000        111           False
twitter-personality-prediction  2012-06-29 23:59:59  Research      $500         89           False
crowdflower-weather-twitter     2013-12-01 23:59:00  Playground    $500        259           False

#downloading data from kaggle competition to Google Drive

In [0]:

!kaggle competitions download -c twitter-sentiment-analysis2

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
test.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
train.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [0]:
!unzip train.csv.zip

Archive:  train.csv.zip
replace train.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

#Importing Data

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [0]:
df=pd.read_csv('train.csv',encoding='latin-1',header=None)

In [0]:
df.head()

        0          1                                                  2
0  ItemID  Sentiment                                      SentimentText
1       1          0                       is so sad for my APL frie...
2       2          0                     I missed the New Moon trail...
3       3          1                            omg its already 7:30 :O
4       4          0            .. Omgaga. Im sooo  im gunna CRy. I'...

#Adding some data

In [0]:
df[2][0]='I am not feeling good here.'

In [0]:
df[1][0]='0'
df[0][0]=0

In [0]:
df.head()

  Id Sentiment                                         Tweet_text
0  0         0                        I am not feeling good here.
1  1         0                       is so sad for my APL frie...
2  2         0                     I missed the New Moon trail...
3  3         1                            omg its already 7:30 :O
4  4         0            .. Omgaga. Im sooo  im gunna CRy. I'...

In [0]:
df1=df.copy()

In [0]:
df.columns=['Id','Sentiment','Tweet_text']

In [0]:
df.head()

  Id Sentiment                                         Tweet_text
0  0         0                        I am not feeling good here.
1  1         0                       is so sad for my APL frie...
2  2         0                     I missed the New Moon trail...
3  3         1                            omg its already 7:30 :O
4  4         0            .. Omgaga. Im sooo  im gunna CRy. I'...

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99990 entries, 0 to 99989
Data columns (total 3 columns):
Id            99990 non-null object
Sentiment     99990 non-null object
Tweet_text    99990 non-null object
dtypes: object(3)
memory usage: 2.3+ MB

In [0]:
df.head()

  Id Sentiment                                         Tweet_text
0  0         0                        I am not feeling good here.
1  1         0                       is so sad for my APL frie...
2  2         0                     I missed the New Moon trail...
3  3         1                            omg its already 7:30 :O
4  4         0            .. Omgaga. Im sooo  im gunna CRy. I'...

#Cleaning Text

In [0]:
import re
import nltk
from nltk.corpus import stopwords
from sklearn.datasets import load_files
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [0]:
corpus=[]
for i in range(len(df.Tweet_text)):
  text=re.sub(r'http\S+', ' ', df['Tweet_text'][i])
  text=text.lower()
  text=re.sub(r"that's","that is",text)
  text = re.sub(r"there's","there is",text)
  text = re.sub(r"what's","what is",text)
  text = re.sub(r"where's","where is",text)
  text = re.sub(r"it's","it is",text)
  text = re.sub(r"who's","who is",text)
  text = re.sub(r"i'm","i am",text)
  text = re.sub(r"she's","she is",text)
  text = re.sub(r"he's","he is",text)
  text = re.sub(r"they're","they are",text)
  text = re.sub(r"who're","who are",text)
  text = re.sub(r"ain't","am not",text)
  text = re.sub(r"wouldn't","would not",text)
  text = re.sub(r"shouldn't","should not",text)
  text = re.sub(r"can't","can not",text)
  text = re.sub(r"couldn't","could not",text)
  text = re.sub(r"won't","will not",text)
  text= re.sub(r'\W',' ',text)
  text=re.sub(r'\d',' ',text)
  text=re.sub(r'^[a-z]\s',' ',text)
  text=re.sub(r'\s+[a-z]\s+',' ',text)
  text=re.sub(r'\s+[a-z]$',' ',text)
  text=re.sub(r'\s+',' ',text)
  corpus.append(text)

In [0]:
corpus[1:8]

[' is so sad for my apl friend ',
 ' missed the new moon trailer ',
 ' omg its already ',
 ' omgaga im sooo im gunna cry ve been at this dentist since was suposed just get crown put on mins ',
 ' think mi bf is cheating on me t_t',
 ' or just worry too much ',
 ' juuuuuuuuuuuuuuuuussssst chillin ']

In [0]:
s=set(stopwords.words('english'))

In [0]:
s1=['not','or','and','no','nor']

In [0]:
for i in s1:
  if i in s:
    s.remove(i)

In [0]:
len(s)

174

In [0]:
for i in range(len(corpus)):
    words = nltk.word_tokenize(corpus[i])
    words = [word for word in words if word not in s]
    corpus[i]=' '.join(words)

In [0]:
corpus[0:10]

['not feeling good',
 'sad apl friend',
 'missed new moon trailer',
 'omg already',
 'omgaga im sooo im gunna cry dentist since suposed get crown put mins',
 'think mi bf cheating t_t',
 'or worry much',
 'juuuuuuuuuuuuuuuuussssst chillin',
 'sunny work tomorrow tv tonight',
 'handed uniform today miss already']

#Creating tfidf model

In [0]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(max_features = 500, min_df = 3, max_df = 0.8)
X = vectorizer.fit_transform(corpus).toarray()

In [0]:
# Creating the Tf-Idf Model
from sklearn.feature_extraction.text import TfidfTransformer
transformer = TfidfTransformer()
X = transformer.fit_transform(X).toarray()

In [0]:
df['Sentiment'].replace({'0':0,'1':1},inplace=True)

In [0]:
type(df['Sentiment'][99])

numpy.int64

In [0]:
X.shape

(99990, 500)

In [0]:
df.head()

  Id  Sentiment                                         Tweet_text
0  0          0                        I am not feeling good here.
1  1          0                       is so sad for my APL frie...
2  2          0                     I missed the New Moon trail...
3  3          1                            omg its already 7:30 :O
4  4          0            .. Omgaga. Im sooo  im gunna CRy. I'...

In [0]:
y=df['Sentiment']

In [0]:
y.shape

(99990,)

In [0]:

from keras.preprocessing.sequence import pad_sequences
from keras.models import Sequential
from keras.layers import Dense, Embedding, LSTM, SpatialDropout1D
from sklearn.model_selection import train_test_split

In [0]:
df.head()

  Id  Sentiment                                         Tweet_text
0  0          0                        I am not feeling good here.
1  1          0                       is so sad for my APL frie...
2  2          0                     I missed the New Moon trail...
3  3          1                            omg its already 7:30 :O
4  4          0            .. Omgaga. Im sooo  im gunna CRy. I'...

In [0]:
X

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [0]:
y.shape

(99990,)

In [0]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1,random_state=0)

In [0]:
print(X_train.shape,y_train.shape)
print(X_test.shape,y_test.shape)

(89991, 500) (89991,)
(9999, 500) (9999,)

In [0]:
import keras
from keras.models import Sequential
from keras.layers import Dense,Dropout
model = Sequential()

In [0]:
model.add(Dense(output_dim=250,init='uniform',activation='relu',input_dim=X.shape[1]))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", input_dim=500, units=250, kernel_initializer="uniform")`
  """Entry point for launching an IPython kernel.

In [0]:
model.add(Dropout(0.5))

In [0]:
model.add(Dense(output_dim=250,init='uniform',activation='relu'))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=250, kernel_initializer="uniform")`
  """Entry point for launching an IPython kernel.

In [0]:
model.add(Dropout(0.5))

In [0]:
model.add(Dense(output_dim=1,init='uniform',activation='sigmoid'))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="sigmoid", units=1, kernel_initializer="uniform")`
  """Entry point for launching an IPython kernel.

In [0]:
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [0]:
model.summary()

Model: "sequential_6"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_14 (Dense)             (None, 250)               125250
_________________________________________________________________
dropout_3 (Dropout)          (None, 250)               0
_________________________________________________________________
dense_15 (Dense)             (None, 250)               62750
_________________________________________________________________
dropout_4 (Dropout)          (None, 250)               0
_________________________________________________________________
dense_16 (Dense)             (None, 1)                 251
=================================================================
Total params: 188,251
Trainable params: 188,251
Non-trainable params: 0
_________________________________________________________________

In [0]:
model.fit(X_train,y_train,batch_size=1024,nb_epoch=5,validation_split=0.1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  """Entry point for launching an IPython kernel.

Train on 80991 samples, validate on 9000 samples
Epoch 1/5
80991/80991 [==============================] - 1s 14us/step - loss: 0.6181 - acc: 0.6375 - val_loss: 0.5395 - val_acc: 0.7298
Epoch 2/5
80991/80991 [==============================] - 1s 7us/step - loss: 0.5394 - acc: 0.7235 - val_loss: 0.5312 - val_acc: 0.7283
Epoch 3/5
80991/80991 [==============================] - 1s 7us/step - loss: 0.5303 - acc: 0.7314 - val_loss: 0.5276 - val_acc: 0.7343
Epoch 4/5
80991/80991 [==============================] - 1s 6us/step - loss: 0.5239 - acc: 0.7349 - val_loss: 0.5271 - val_acc: 0.7336
Epoch 5/5
80991/80991 [==============================] - 1s 7us/step - loss: 0.5191 - acc: 0.7393 - val_loss: 0.5261 - val_acc: 0.7354

In [0]:
y_pred=model.predict(X_test)

In [0]:
y_pred=(y_pred>0.5)

In [0]:
y_pred

array([[ True],
       [ True],
       [ True],
       ...,
       [ True],
       [ True],
       [False]])

In [0]:
from sklearn.metrics import accuracy_score,classification_report

In [0]:
accuracy_score(y_test,y_pred)

0.7312731273127313

In [0]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.74      0.61      0.67      4399
           1       0.73      0.83      0.78      5600

    accuracy                           0.73      9999
   macro avg       0.73      0.72      0.72      9999
weighted avg       0.73      0.73      0.73      9999

#Saving Model

In [0]:
import pickle

In [0]:
with open('model_tfidf.pickle','wb') as f:
  pickle.dump(model,f)